.statEditor {


} 

.statEditor select {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 5px 10px
}

.statInputsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 15px 0;
}
.statInputsContainer img {
  max-width: 120px;
}

.statInputs {
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 5px;
}

.inputGroup input {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 70px;
  padding: 5px 10px
}

.buttons {
  display: flex;
  justify-content: center;
  max-width: 300px;
  gap: 15px;
  margin: 0 auto;
}
