.cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15svh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 33%;
  max-width: 300px;
}

.card > * {
  margin-bottom: 15px;
}
