.debugConsole {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: #a5a5;
  height: 100vh;
  width: 200px;
  padding: 10px 20px;
  padding-top: 60px;
}

.hide {
  display: none;
}

.FPSContainer {
  font-weight: bold;
  margin: 15px 0;
}

.countInput {
  max-width: 100%;
  border-radius: 15px;
  padding: 5px 10px;
  border: none;
  outline: none;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.buttonContainer button {
  font-size: medium;
}
