.menu {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.content {
  margin: 0 auto;
  width: 75%;
}

.hero {
  width: 100px;
}

.row {
  font-size: 1rem;
  gap: 15px;
}

.row div {
  min-width: 30%;
}

.row p { 
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  gap: 15px;
  justify-content: center;
  flex-direction: column;
}

.buttons button {
  width: 225px;
}

@media screen and (max-width: 900px) {
  .content {
    width: 100%;
    font-size: 15px;
  }

  .hero {
    width: 35px;
  }
}
